/* responsive por mobile */

@media screen and (max-width:425px) {

    /* body {
        max-width: 424px;
        margin: 0;
        padding: 0;
    } */
    .nav-container{
       height: 250px ; 
       width: 100%;

    }
    .navbar {
        flex-direction: column;
        max-width: 300px;
        height: 300px;
        align-items: center;
        justify-content: center;
        /* margin-top: 40px; */
        margin-left: 50px;
        margin-right: 0;
        padding-top: 100px;
    }


    .nav-image {
        height: 225px;
        margin-top: 3rem;
        gap: 10px;
    }
    .nav-image img{
       width: 55px; 
    }
    .nav-image .game-title{
        font-size: 1.8rem;
    }

    .navbar-title-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 1rem;
        margin-right: 3rem;
        margin-bottom: 200px;

    }

    .banner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-right: 40rem;
    }
    .title {
        margin-right: 1200px;
        color: #0B0223;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        text-transform:none;
    }

    .banner-content {
      width: 100%; 
    }

    .banner-image {
       width: 100%; 
    }

    .online-game-title {
        max-width: 804px;
        margin-left: 270px;
        align-items: center;
        justify-content: center;
    }

    .image-container {
        grid-template-columns: 1fr;
        margin-left: 200px;
        gap: 40px;
        /* width: 4000px; */
    }

    .play-container {
        flex-direction: column;
        padding: 2px;
        margin-top: -100px;
        margin-left: 85px;
    }

    .play-description {
        margin-left: 60px;
    }

    .play-image {
        height: 50%;
        margin-top: 100px;
        margin-left: -100px;
        max-width: 300px;
    }

    .logo-container {
        min-height: 1000px;
        gap: 2rem;
        margin: auto;

    }

    .logo-box {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;


    }

    .first-logo {
        width: 300px;
        padding: -2000px;
    }
}