/* responsive por mobile */

@media screen and (max-width:425px) {

    /* body {
        max-width: 424px;
        margin: 0;
        padding: 0;
    } */
    .nav-container{
       height: 250px ; 
       width: 100%;

    }
    .navbar {
        flex-direction: column;
        max-width: 300px;
        height: 300px;
        align-items: center;
        justify-content: center;
        /* margin-top: 40px; */
        margin-left: 50px;
        margin-right: 0;
        padding-top: 100px;
    }


    .nav-image {
        height: 225px;
        margin-top: 3rem;
        gap: 10px;
    }
    .nav-image img{
       width: 55px; 
    }
    .nav-image .game-title{
        font-size: 1.8rem;
    }

    .navbar-title-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 1rem;
        margin-right: 3rem;
        margin-bottom: 200px;

    }

    /* banner start */

    .banner-container{
        flex-direction: column-reverse;
        height: -1000px;
        margin-top: 100px;
        gap: 0px;
    }
    .banner-image{
        width: 100%;
        margin: 0;
    }
    .banner-content{
        width: 100%;
        padding-top: 40px;
        text-align: center;
    }
    .banner-title{
      padding-left: 35px; 

    }
    .banner-image{
       margin-top: -60px;
       margin-bottom: 50px;
    }
}